<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Stige | Internship</title>
</head>
<body>
    <header>
        <a class="logo-link" href="/"><h1>stige</h1></a>
        <div>
            <a class="header-button" href="/login">Log In</a>
            <a class="header-button" href="/signup">Sign Up</a>
        </div>
    </header>
    <div class="landing-container">
    <div class="main">
        <section class="heading">
            <h2>Internship Training Program</h2>
            <p>Get trained, work on live projects and get certified in 8 weeks.</p>
        </section>
        <section class="animation">
            <p>$ Stand out with an internship experience and certification in your resume</p>
        </section>
    </div>
    <div class="main-process">
        
        <section class="process">
            <div class="block-1">
            <article>
                    <div class="process-img">
                        <img src="/img/skills.png">
                    </div>
                    <div class="process-info">
                        <h3>Upskilling</h3>
                        <p>Upskilling
                        8 Weeks of intensive training & certifications through structured, industry vetted curriculum.</p>
                    </div>
                </article>
                <article>
                    <div class="process-img">
                        <img src="/img/html.png">
                    </div>
                    <div class="process-info">
                        <h3>Live Projects</h3>
                        <p>Build real, ready-to-ship products with team members, professionals & students from other tracks.</p>
                    </div>
                </article>
            </div>
            <div class="block-2">
                <article>
                    <div class="process-img">
                        <img src="/img/3d-cube.png">
                    </div>
                    <div class="process-info">
                        <h3>Workplace Skills</h3>
                        <p>Build your resume,enhance your profile & get noticed by recruiters from top companies.</p>
                    </div>
                </article>
                <article>
                    <div class="process-img">
                        <img src="/img/cloud-computing.png">
                    </div>
                    <div class="process-info">
                        <h3>Industry Certification</h3>
                        <p>Get Internship & training certificates and gain a point of differentiation on your CV for your college placements.</p>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <footer>©2021 This page is protected by reCAPTCHA and is subject to the Google Privacy Policy and Terms of Service.
    </footer>
    </div>
    
</body>
</html>