<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Stige | Tasks</title>
  </head>
  <body>
    <header class="tasks-header">
      <a class="logo-link" href="/">
        <h1>stige</h1>
      </a>
      <div>
        <a class="profile-button" href="/user">Profile</a>
        <a class="header-button" href="/">Log Out</a>
      </div>
    </header>
    <div class="task-container">
      <section>
        <div class="task-details">
          <div class="task-info">
            <h1>HTML, CSS, JavaScript</h1>
            <p>Tools used for front-end development</p>
          </div>
          <div class="deadline">
            <p>Deadline:11/11/11</p>
          </div>
        </div>
        <div class="form-control">
          <a href="/course">View Course</a>
          <div class="form">
            <input type="checkbox" id="task-1" name="completed" />
            <label for="task-1">Completed</label>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
