<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Stige | User Profile</title>
  </head>
  <body>
    <div class="user-container">
      <section class="user-photo">
        <div class="profile-img"></div>
      </section>
      <section class="user-info">
        <h2>User Information</h2>
        <form>
          <label for="user-name">Name:</label>
          <input type="text" id="user-name" />
          <label for="user-number">Number:</label>
          <input type="text" id="user-number" />
          <label for="user-email">Email:</label>
          <input type="text" id="user-email" />
          <button class="save">Save</button>
        </form>
      </section>
    </div>
  </body>
</html>
